# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env
.venv/
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# PyInstaller
#  Uncomment if you have a PyInstaller project
#  *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
build/
temp/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytype
.pytype/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.swn
*~
.project
.settings/
*.tmproj

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
DevNote.txt
